In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("card_transactions.csv")

In [3]:
df

,customer_id,balance_account,purchases_amount,paid_advance,full_purchases,balance_frequency_update,installments,purchases_frequency,full_purchases_frequency,purchases_installments_frequency,cash_advance_frequency,nr_cash_advances,nr_purchases,credit_limit,fixed_rate_period,payments,min_payments,full_payment_prc
0,tGEg8fT2eCgVxdwS,9.298409,107.60,0.000000,0.00,0.909091,107.60,0.909091,0.000000,0.818182,0.000000,0,10,1000.0,11,89.868853,89.711672,0.428571
1,stEDu20sSKOXomjg,52.666422,150.30,0.000000,0.00,1.000000,150.30,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,6,54.722514,82.955180,0.000000
2,CEB2blrN3b88GsRe,1360.795674,0.00,462.861443,0.00,1.000000,0.00,0.000000,0.000000,0.000000,0.272727,6,0,1500.0,11,303.031979,443.781316,0.000000
3,0N0eBl8ySaZThxKE,2021.641161,363.18,0.000000,363.18,1.000000,0.00,1.000000,1.000000,0.000000,0.000000,0,13,2000.0,12,704.240770,795.859808,0.000000
4,6NLauoHUwtwOv4Wy,22.322374,95.00,1162.045833,95.00,0.363636,0.00,0.083333,0.083333,0.000000,0.166667,3,1,2500.0,12,4094.261427,40.142262,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8495,zdVfd3CYHYBjf61b,1127.607606,0.00,271.093275,0.00,1.000000,0.00,0.000000,0.000000,0.000000,0.083333,1,0,8500.0,12,662.387331,260.277533,0.000000
8496,JGghMowcxhfbVGKm,21.409828,149.71,0.000000,0.00,1.000000,149.71,0.916667,0.000000,0.916667,0.000000,0,11,1500.0,12,141.974905,150.500248,0.166667
8497,5GrEtC6ncxuLpnXZ,0.000000,0.00,253.887233,0.00,0.000000,0.00,0.000000,0.000000,0.000000,0.111111,1,0,500.0,9,2437.932505,NaN,0.000000
8498,Ox7ETtYHjE2uo4Xo,1646.384530,1047.34,146.650389,1047.34,1.000000,0.00,0.583333,0.583333,0.000000,0.166667,2,51,3000.0,12,462.848132,497.408854,0.000000
8499,QIwf3M4Yn4EHwAyv,1861.087370,1752.06,0.000000,1417.18,1.000000,334.88,0.916667,0.583333,0.666667,0.000000,0,32,3500.0,12,737.941555,437.075647,0.000000

In [4]:
df.columns

Index(['customer_id', 'balance_account', 'purchases_amount', 'paid_advance',
       'full_purchases', 'balance_frequency_update', 'installments',
       'purchases_frequency', 'full_purchases_frequency',
       'purchases_installments_frequency', 'cash_advance_frequency',
       'nr_cash_advances', 'nr_purchases', 'credit_limit', 'fixed_rate_period',
       'payments', 'min_payments', 'full_payment_prc'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8500 entries, 0 to 8499
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   customer_id                       8500 non-null   object
 1   balance_account                   8500 non-null   float64
 2   purchases_amount                  8500 non-null   float64
 3   paid_advance                      8500 non-null   float64
 4   full_purchases                    8500 non-null   float64
 5   balance_frequency_update          8500 non-null   float64
 6   installments                      8500 non-null   float64
 7   purchases_frequency               8500 non-null   float64
 8   full_purchases_frequency          8500 non-null   float64
 9   purchases_installments_frequency  8500 non-null   float64
 10  cash_advance_frequency            8500 non-null   float64
 11  nr_cash_advances                  8500 non-null   int64
 12  nr_purchases                      8500 non-null   int64
 13  credit_limit                      8499 non-null   float64
 14  fixed_rate_period                 8500 non-null   int64
 15  payments                          8500 non-null   float64
 16  min_payments                      8202 non-null   float64
 17  full_payment_prc                  8500 non-null   float64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
balance_account,8500.0,1565.941403,2090.513302,0.000000,126.318369,869.046468,2053.674410,19043.13856
purchases_amount,8500.0,999.561312,2154.189460,0.000000,39.000000,360.000000,1105.897500,49039.57000
paid_advance,8500.0,973.508540,2078.539061,0.000000,0.000000,0.000000,1113.726110,47137.21176
full_purchases,8500.0,588.165365,1669.466184,0.000000,0.000000,37.400000,570.410000,40761.25000
balance_frequency_update,8500.0,0.876272,0.237517,0.000000,0.875000,1.000000,1.000000,1.00000
installments,8500.0,411.708492,910.142440,0.000000,0.000000,89.000000,466.725000,22500.00000
purchases_frequency,8500.0,0.489383,0.401075,0.000000,0.083333,0.500000,0.916667,1.00000
full_purchases_frequency,8500.0,0.201940,0.297756,0.000000,0.000000,0.083333,0.285714,1.00000
purchases_installments_frequency,8500.0,0.363796,0.397162,0.000000,0.000000,0.166667,0.750000,1.00000
cash_advance_frequency,8500.0,0.135288,0.200892,0.000000,0.000000,0.000000,0.222222,1.50000
nr_cash_advances,8500.0,3.253647,6.854883,0.000000,0.000000,0.000000,4.000000,123.00000
nr_purchases,8500.0,14.677059,25.001561,0.000000,1.000000,7.000000,17.000000,358.00000
credit_limit,8499.0,4485.848704,3629.804040,50.000000,1500.000000,3000.000000,6500.000000,30000.00000
fixed_rate_period,8500.0,11.516118,1.339121,6.000000,12.000000,12.000000,12.000000,12.00000
payments,8500.0,1721.250989,2893.200899,0.000000,381.893717,851.146952,1897.014052,50721.48336
min_payments,8202.0,865.594683,2389.297977,0.019163,168.712104,310.399040,826.426929,76406.20752
full_payment_prc,8500.0,0.152587,0.291505,0.000000,0.000000,0.000000,0.142857,1.00000

In [7]:
df[df['min_payments'].isna()]

,customer_id,balance_account,purchases_amount,paid_advance,full_purchases,balance_frequency_update,installments,purchases_frequency,full_purchases_frequency,purchases_installments_frequency,cash_advance_frequency,nr_cash_advances,nr_purchases,credit_limit,fixed_rate_period,payments,min_payments,full_payment_prc
24,Hik1ahI9PjnV7wHy,463.071440,1817.84,0.000000,1817.84,1.000000,0.0,0.333333,0.333333,0.000000,0.000000,0,4,6000.0,12,0.000000,NaN,0.0
27,xErcXVe5RtT8Z558,28.329892,292.59,0.000000,292.59,1.000000,0.0,1.000000,1.000000,0.000000,0.000000,0,12,5000.0,12,0.000000,NaN,0.0
29,C9WDDshw5YIAvH0c,0.000000,240.10,0.000000,0.00,0.000000,240.1,0.583333,0.000000,0.583333,0.000000,0,7,2500.0,12,0.000000,NaN,0.0
38,sYAP5BgHHjmvJ5XO,61.463647,0.00,989.053104,0.00,0.166667,0.0,0.000000,0.000000,0.000000,0.166667,2,0,1200.0,6,0.000000,NaN,0.0
56,ho8zNMNjqV2lBy0t,253.143106,0.00,3351.385591,0.00,0.142857,0.0,0.000000,0.000000,0.000000,0.142857,3,0,5000.0,7,0.000000,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8395,hFGLaz0A3lTtvK43,212.306148,0.70,1922.593600,0.70,0.181818,0.0,0.083333,0.083333,0.000000,0.166667,3,1,3500.0,12,0.000000,NaN,0.0
8422,KBWRrBwKqKvGKzjv,253.083620,0.00,1654.916972,0.00,0.181818,0.0,0.000000,0.000000,0.000000,0.083333,1,0,1800.0,12,0.000000,NaN,0.0
8460,zVzc7CzWYPj6QN71,147.418569,1074.00,0.000000,1074.00,0.181818,0.0,0.083333,0.083333,0.000000,0.000000,0,2,5500.0,12,0.000000,NaN,0.0
8490,qiNQQyNu3YM9PRwP,0.000000,232.20,0.000000,0.00,0.000000,232.2,1.000000,0.000000,1.000000,0.000000,0,12,1500.0,12,415.603589,NaN,0.0
8497,5GrEtC6ncxuLpnXZ,0.000000,0.00,253.887233,0.00,0.000000,0.0,0.000000,0.000000,0.000000,0.111111,1,0,500.0,9,2437.932505,NaN,0.0

In [8]:
df[df['credit_limit'].isna()]

,customer_id,balance_account,purchases_amount,paid_advance,full_purchases,balance_frequency_update,installments,purchases_frequency,full_purchases_frequency,purchases_installments_frequency,cash_advance_frequency,nr_cash_advances,nr_purchases,credit_limit,fixed_rate_period,payments,min_payments,full_payment_prc
7898,c2AkRIIj9f7hgiXZ,18.400472,0.0,186.853063,0.0,0.166667,0.0,0.0,0.0,0.0,0.166667,1,0,NaN,6,9.040017,14.418723,0.0

no duplicate credit card ids

In [9]:
len(df['customer_id'].unique())

8500

heatmap

imputation

In [ ]:
from sklearn.impute import SimpleImputer

cat_cols = X_train_cat.columns
cat_imputer = SimpleImputer(strategy='constant', 
                            fill_value='Not Available')
X_train_cat = pd.DataFrame(cat_imputer.fit_transform(X_train_cat), 
                           columns=cat_cols)

In [ ]:
from sklearn.impute import KNNImputer

num_cols = X_train_num.columns
knn_imp = KNNImputer(n_neighbors=5)
X_train_num = pd.DataFrame(knn_imp.fit_transform(X_train_num), 
                           columns=num_cols)
X_train_num.head()

In [ ]:
scaling

In [ ]:
ss = StandardScaler()
X_train_num_scaled = ss.fit_transform(X_train_num)
X_train_num_scaled = pd.DataFrame(X_train_num_scaled, 
                                  columns=num_cols)
X_train_num_scaled.head()